* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #E4E9F7;
}

body {
    height: 100vh;
    background: linear-gradient(-45deg, #0A0A12, #1C2140, #0D0F26, #151830);
    animation: gradient-shift 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
@keyframes gradient-shift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Main container */
.home {
    display: flex;
    align-items: center;
    height: 75vh;
    width: 75vw;
    border-radius: 15px;
    box-shadow: 0 5px 40px #6C7FF5;
}

/* Left image panel */
.left {
    background-image: url('./logo.jpeg');
    background-size: contain;  
    background-position: center;  
    background-color: #07121d;    
    height: 100%;
    width: 38vw;
    border-radius: 15px;
    box-shadow: inset 0 0 10px #5968D6;
}

/* Right login form */
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
}

/* Form Wrapper */
.form-wrapper {
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
}

/* Title */
h1 {
    font-weight: 900;
    color: #E4E9F7;
    text-align: center;
}

/* Input group */
.input-group {
    position: relative;
    width: 100%;
}

.input-group input {
    width: 100%;
    padding: 14px 50px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.08);
    background: rgba(19, 23, 46, 0.8); 
    color: #E4E9F7;
    font-size: 15px;
    transition: 0.2s ease;
}

/* Left icon */
.input-group .icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 17px;
    color: #9aa0bd;
}

/* Eye toggle icon */
.input-group .toggle-pass {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 17px;
    cursor: pointer;
    color: #9aa0bd;
}

.input-group .toggle-pass:hover {
    color: white;
}

/* Focus animation */
.input-group input:focus {
    outline: none;
    border: 1px solid #6C7FF5;
    box-shadow: 0 0 12px #6C7FF5;
}

/* Login button */
#sign-up {
    height: 45px;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    font-weight: bold;
    background: linear-gradient(to bottom right, #5E8BFF, #A970FF, #F26DFF);
    color: #0A0A12;
    cursor: pointer;
    transition: 0.2s ease;
}

#sign-up:hover {
    box-shadow: 0 0 18px rgba(102, 112, 255, 0.7);
    transform: scale(1.05);
}


/* Sign up text */
.signup-text {
    text-align: center;
    font-size: 14px;
}
.signup-text a {
    color: #b48aff;
    text-decoration: none;
}
.signup-text a:hover {
    text-decoration: underline;
}