* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(120deg, #cde2ff 0%, #fde1b9 100%);
  font-family: system-ui, Arial, sans-serif;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(-90deg, #fde1b9 0%, #cde2ff 100%);
}
